Checks: >-
  cert-*,
  clang-analyzer-*,
  hicpp-*,
  performance-*,
  -hicpp-special-member-functions,
  -hicpp-signed-bitwise,
  -performance-unnecessary-value-param,
  -performance-enum-size,
  -cert-err58-cpp,
  -cert-env33-c,
  -cert-dcl21-cpp,
  -clang-analyzer-core.uninitialized.Assign
# -performance-unnecessary-value-param This check is too aggressive for the lexer part so we need to do it manually sometimes
# -cert-env33-c  TODO need to be fixed with the compliance https://wiki.sei.cmu.edu/confluence/display/c/ENV33-C.+Do+not+call+system()

WarningsAsErrors: '*'

HeaderFilterRegex: '^(src|include)/'

FormatStyle: none

User: "JS-CMP"
