[submodule "submodules/Lexer"]
    path = submodules/Lexer
    url = https://github.com/JS-CMP/Lexer.git
[submodule "submodules/Doxygen-Theme"]
	path = submodules/Doxygen-Theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
